/* body */
body {
  font-size: 14px;
}

/* navigation */
nav {
  background-color: #FFFF00;
  height: 100px;
  margin-top: -10px;
  position: fixed;
  width: 100%;
}

/* section */
section {
  margin: 0 auto;
  width: 60%;
  padding-top: 60px;
}

/* heading 1 */
h1 {
  font-family: sans-serif;
  font-size: 2em;
}

/* example */
.example, h3 {
  padding-top: 30px;
  text-align: center;
}

/* heading */
h3 {
  font-size: 1.3em;
}

/* element */
.element {
  background-color: #33FF33; 
  height: 100px;
  margin 10px 0;
  width: 100%;
  padding-top: 30px;
}

/* element-1 */
.element-1 {
  background-color: #337AFF; 
  height: 100px;
  margin 10px 0;
  width: 100%;
}
